@media screen and (max-width:360px) {
    body {
        display:inline;
        width:200px;
    }
    img {
        width:150px;
    }
    p {
        width:100%;
    }
}   


@media (max-width:600px) {
    img {
        max-width:300px;}
}

@media (max-width:1024px) {
    img { 
        width:600px;
    }
}